/* chessboard css */
.white > img,
.black > img {
    height: inherit;
    width: inherit;
}

.chessboard {
    width: 548px;
    height: 548px;
    margin: 15px 10px 10px 10px;
    border: 3px solid #333;
    float: left;
}
.black {
    float: left;
    width: 67.75px;
    height: 67.75px;
    background-color: #999;
    /**  font-size:61px; /**working 
     background-color: #331f1c; **/
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    background-color: grey !important;
}
.white {
    float: left;
    width:67.75px;
    height: 67.75px;
    background-color: #fff; 
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.box {
    position: relative;
}
#r8c1:before {
    content: 'R8';
    position: absolute;
    font-weight: 650;
    color: grey;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}
#r7c1:before {
    content: 'R7';
    position: absolute;
    font-weight: 650;
    color: grey;
    top: 100%;
    transform: translateY(-200%);
    left: -30px;
}
#r6c1:before {
    content: 'R6';
    position: absolute;
    top: 100%;
    font-weight: 650;
    color: grey;
    transform: translateY(-200%);
    left: -30px;
}
#r5c1:before {
    content: 'R5';
    font-weight: 650;
    color: grey;
    position: absolute;
    top: 100%;
    transform: translateY(-200%);
    left: -30px;
}
#r4c1:before {
    content: 'R4';
    font-weight: 650;
    color: grey;
    position: absolute;
    top: 100%;
    transform: translateY(-200%);
    left: -30px;
}
#r3c1:before {
    content: 'R3';
    position: absolute;
    top: 100%;
    font-weight: 650;
    color: grey;
    transform: translateY(-200%);
    left: -30px;
}
#r2c1:before {
    content: 'R2';
    position: absolute;
    top: 100%;
    font-weight: 650;
    color: grey;
    transform: translateY(-200%);
    left: -30px;
}
#r1c1:before {
    content: 'R1';
    position: absolute;
    top: 100%;
    font-weight: 650;
    color: grey;
    transform: translateY(-200%);
    left: -30px;
}
#r1c1::after {
    content: 'C1';
    position: absolute;
    top: 110%;
    font-weight: 650;
    color: grey;
    transform: translateX(-200%);
    left: 61px;
}
#r1c2::after {
    content: 'C2';
    position: absolute;
    top: 110%;
    font-weight: 650;
    color: grey;
    transform: translateX(-200%);
    left: 61px;
}
#r1c3::after {
    content: 'C3';
    position: absolute;
    top: 110%;
    font-weight: 650;
    color: grey;
    transform: translateX(-200%);
    left: 61px;
}
#r1c4::after {
    content: 'C4';
    position: absolute;
    top: 110%;
    font-weight: 650;
    color: grey;
    transform: translateX(-200%);
    left: 61px;
}
#r1c5::after {
    content: 'C5';
    position: absolute;
    top: 110%;
    font-weight: 650;
    color: grey;
    transform: translateX(-200%);
    left: 61px;
}
#r1c6::after {
    content: 'C6';
    position: absolute;
    top: 110%;
    font-weight: 650;
    color: grey;
    transform: translateX(-200%);
    left: 61px;
}
#r1c7::after {
    content: 'C7';
    position: absolute;
    top: 110%;
    font-weight: 650;
    color: grey;
    transform: translateX(-200%);
    left: 61px;
}
#r1c8::after {
    content: 'C8';
    position: absolute;
    top: 110%;
    font-weight: 650;
    color: grey;
    transform: translateX(-200%);
    left: 61px;
}
.stepsbox {
    margin: auto;
    width: 250px;
    margin: auto 0 auto 10px;
}
.stepsContainer {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    /* overflow-y: scroll; */
    position: relative;
}

.stepsControlBtns {
    display: flex;
    justify-content: center;
}

.startgamebtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.gametime {
    font-size: 30px;
    border: 1px solid grey;
}
.steps {
    height: 240px;
    overflow-y: scroll;
    width: 100%;
}
.game_sec {
    display: flex;
    /* padding-top: 10px; */
    position: relative;
}
.left_sec {
    width: 20%;
    /* border: 1px solid red; */
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.14);
}
.mid_sec {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
.right_sec {
    width: 45%; 
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}


.activeLists {
    display: flex;
    justify-content: space-between;
   
}



