.bg-img{
    background-color: #eeeeee; 
    /* position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../Images/board-background.png");
    z-index: -1; */
}
.login {
    display: flex;
    margin: 5% auto auto auto;
    max-height: 10%; 
    background: transparent;
    width: 50%;
}
.divloginleft{
    width: 43%;
    float: left;
    display: flex;
    justify-content: flex-end;
    padding: 1.8em;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    border: 1px solid rgb(226, 226, 226);
}
.divloginright {
    padding: 1.5em;
}
.log_text{
    font-weight: 560;
    margin-bottom: 1rem;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: #707070;
}
.loginform > input[type=text], .loginform > input[type=password]{
    border: 0.8px solid #707070;
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    height: 40px;
}
.loginform > input[type=text], .loginform > .log_text, .loginform > input[type=password] {
    color: #707070;
    align-content: center;
    font-family: sans-serif;
}
hr{
    width: 99%;
}
form{
    box-sizing: border-box;
}
.signup_btn {
    float: right;
    color: #4c4747;
}
.register_btn {
    color: #3893e8;
}
button.btn{
    background-color: gainsboro;
    font-weight: 500;
}
button.btn:hover {
    background-color: gainsboro;
}