.mynav {
    background-color: black;
}
.brand-logo{
    left: 2%;
}
.dropdown {
    position: absolute;
    z-index: 2;
    top: 48px;
    right: 25px;
    background-color: #fff;
    border: 1px solid red;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4196078431372549);
}
.dropdown li.chonch {
    position: absolute;
    border-top: 10px solid white;
    /* border-bottom: 10px solid white; */
    border-left: 10px solid white;
    /* border-right: 10px solid white; */
    height: 10px;
    width: 10px;
    top: -5px;
    right: 15px;
    transform: rotate(45deg);
}
.dropdown li a {
    padding: 0.3em 1em;
    color: black;
    display: block;
}

.usertrigger {
    height: 40px;
    width: 66px;
    margin-right: 40%;
    overflow: hidden;
    border-radius: 50px;
}
.usertrigger > img {
    height: inherit;
    width: auto;
}

.closed {
    display: none;
}

/* body css */
