.mynav {
    background-color: black;
}

/* body css */
.game_sec {
    display: flex;
    padding-top: 10px;
}

.left_sec {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}


.right_sec {
    width: 45%; 
    display: flex;
    justify-content: flex-start;
}

